.f-8 {
  font-size: .8rem!important;
}
.f-10 {
  font-size: 1rem!important;
}
.f-12 {
  font-size: 1.2rem!important;
}
.f-13 {
  font-size: 1.3rem!important;
}
.f-14 {
  font-size: 1.4rem!important;
}
.f-15 {
  font-size: 1.5rem!important;
}
.f-16 {
  font-size: 1.6rem!important;
}
.f-17 {
  font-size: 1.7rem!important;
}
.f-18 {
  font-size: 1.8rem!important;
}
.f-20 {
  font-size: 2rem!important;
}
.f-22 {
  font-size: 2.2rem!important;
}
.f-24 {
  font-size: 2.4rem!important;
}
.f-25 {
  font-size: 2.5rem!important;
}
.f-26 {
  font-size: 2.6rem!important;
}
.f-28 {
  font-size: 2.8rem!important;
}
.f-30 {
  font-size: 3.0rem!important;
}
