<ion-view view-title="{{title}}" hide-tabs="true">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="icon-fanhui"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
			<div ng-click="share()">分享</div>
	</ion-nav-buttons>
	<ion-content scroll="false" class="rel">
		<div class="abs" style="left:0;top:0;width:100vw;height:100vh;">
	<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-height">
            	
            	<div class="depositFee" id="depositFee">
					<div class="depositFeeOne">
						<div class="depositFeePic" style="height:82vh;">
							<img src="img/wx_01.png" height="1111" width="720"/>
						</div>
						<div class="depositFeeSub swiper-pagination" id="depositFeeSub" style="right:11rem">
							<span style="display:none">立即注册</span>
						</div>
					</div>
					<div class="depositFeeTwo">
						<img src="img/wx_02.png" height="169" width="720"/>
					</div>
				</div>
            </div>
            <div class="swiper-slide rel swiper-slide-height" >
            	<div class="shareRegister" id="shareRegister" style="width:100%">
	            	<form id="registerInfo" name="registerInfo" method="post" class="form form-horizontal">
						<section class="SRfill-wrapper ">
					        <div class="fill">
					            <ul class="fill-list shareRegisterBody">
						              <li id="apply-name" class="shareList" >
						                <div class="p-title pl-10">姓名</div>
						                <div class="p-content">
						                  <input id="certName" class="certName" name="realName" type="text" title="姓名" value="" placeholder="请输入姓名" maxlength=20 disabled="disabled"/></div>
						              </li>
						              <li id="apply-phone" class="shareList rel">
					                    <div class="p-title pl-10">手机号码</div>
					                    <div class="p-content">
					                        <input id="mobilePhone" class="mobilePhone" name="userName" type="tel" title="手机号码" value="" placeholder="请输入手机电话" maxlength=11 disabled="disabled" />
					                        <span class="getCode" id="getCode">获取验证码</span>
					                    </div>
					               	 </li>
						              <li id="apply-password" class="shareList">
						                <div class="p-title pl-10">验证码</div>
						                <div class="p-content">
						                  <input id="certCode" class="certCode" type="text" title="验证码" value="" placeholder="输入验证码" minlength=6 disabled="disabled" />
						                  <i class="errorI"></i>
						                </div>
						              </li>
						              <li id="password" class="shareList">
						                <div class="p-title pl-10">密码</div>
						                <div class="p-content">
						                  <input id="certPassword" class="certPassword" name="password" type="password" title="密码" value="" placeholder="输入密码（大于6位）" minlength=6 disabled="disabled" />
						                  <i class="errorI"></i>
						                </div>
						              </li>
						         </ul>
					        </div>
					    </section>
						<section class="register">
					        <div class="btn-box">
					            <a id="submit" class="btnRegister">注册</a>
					        </div>
				    	</section>
					</form>
			    	<div class="makeCode" style="display:none">
						<div class="makeCodeBody">
							<div id="qrcode"></div>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!-- Add Pagination -->
<!--         <div class="swiper-pagination"></div> -->
    </div>
		</div>
	</ion-content>
</ion-view>
