<ion-view view-title="{{title}}">



	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>

	

	<ion-content>


<div class="broadband-menu">
	<ul>
		<li ng-click="combination()">
			<i class="icon-wojiaxiaoshou" style="color:#d33430;"></i>
			<a>
			<h2>智慧沃家组合套餐</h2>
			<p>立即操作</p>
			</a>
		</li>
		<li ng-click="wojia()">
			<i class="icon-a881" style="color:#60a7e7;"></i>
			<a>
			<h2>智慧沃家共享套餐</h2>
			<p>立即操作</p>
			</a>
		</li>
		<li ng-click="dp()">
			<i class="icon-kuandailuyouqi" style="color:#f2bf28;"></i>
			<a>
			<h2>BSS宽带单产品</h2>
			<p>立即操作</p>
			</a>
		</li>
	</ul>
</div>


	</ion-content>

</ion-view>


