<!--<ion-view view-title="{{title}}" hide-tabs="true">



<ion-content overflow-scroll="true">
<div class="userInfoForm">
	<ul>
		<li ng-click="openFee()">
			<label>订单费用合计：</label>
			<input type="text" value="￥{{totalLower}}" class="input-text" readonly="readonly"/>
			<span class="rt-btn icon-xiala2"></span>
		</li>
	</ul>
</div>
<div class="autograph">
	<div class="signature"></div>
</div>
<div class="btn-wrap">
	<button id="saveBtn" class="btn btn-primary" ng-click="saveSignature()">保存签名</button>
</div>
<div class="btn-wrap">
	<button id="clearBtn" class="btn btn-secondary" ng-click="clearCanvas()">重新输入</button>
</div>

</ion-content></ion-view>-->

<ion-view view-title="{{title}}" hide-tabs="true">
	<div class="autograph-hd">
		<h1>签名</h1>
	</div>
	<div class="autograph">
		<div class="signature"></div>
	</div>
	<div class="autograph-btm">
		<div class="btn-area">
			<button><div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div></button>
			<button id="clearBtn" ng-click="clearCanvas()">重新输入</button>
			<button id="saveBtn" ng-click="saveSignature()" ng-disabled="resState">保存签名</button>
		</div>
	</div>	
	<style>ion-nav-bar{display:none;}</style>
</ion-view>
