<ion-view view-title="{{title}}" hide-tabs="true">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>
	<ion-content  class="package-detail">
		
		<div class="comboAttrVal">
			<h2 class="mb-0">应用包</h2>
			<dl>
				<dd ng-repeat="item in li" class="mb-0">
					<ion-checkbox  ng-model="item.check" ng-change="pushNotificationChange($index)">{{item.text}}</ion-checkbox>
				</dd>
			</dl>
		</div>
		<div class="btn-wrap">
			<button class="btn btn-primary" ng-click="order()">下一步</button>
		</div>
		
	</ion-content>
</ion-view>