<ion-view view-title="{{title}}" hide-tabs="true">

	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>
	<ion-content>
		<div class="number-order-list">
			<h2 class="top-hd-title">订单编号：{{orderCode}}</h2>
			<ul>
				<li>
					<dl>
						<dt>号码信息</dt>
						<dd>订购号码：{{number | telFormat}}</dd>
						<dd>所选套餐：{{productName}}</dd>
					</dl>
				</li>
				<li class="liNo"></li>
				<li>
					<dl>
						<dt>用户信息</dt>
						<dd>客户姓名：{{customer}}</dd>
						<dd>联系方式：{{contactNumber}}</dd>
						<dd>联系地址：{{contactAddress}}</dd>
						<dd>备注信息：{{remark}}</dd>
					</dl>
				</li>
				<li class="liNo"></li>
				<li>
					<dl>
						<dt>订单信息</dt>
						<dd>订单金额：<em>{{amount | currency : '￥'}}</em></dd>
						<dd>订购时间：{{createTime | date:"yyyy-MM-dd HH:mm:ss"}}</dd>
					</dl>
				</li>
			</ul>

		</div>
	</ion-content>

</ion-view>