<ion-view view-title="{{title}}">

	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>
	<ion-content>
		
		<div class="info-list">
			<ul>
				<li>
					<div class="info-label">
						<span>手机号码：</span>
					</div>
					<div class="info-cont">
						<input type="tel" maxlength="11" placeholder="输入手机号码" class="txt-box" ng-model="input.tel"/>
						<button class="rt-btn" ng-click="getCheckCode()" ng-disabled="vm.resState">
							<span>{{vm.data}}</span>
						</button>
					</div>
				</li>
				<li>
					<div class="info-label">
						<span>短信校验码：</span>
					</div>
					<div class="info-cont">
						<input type="tel" placeholder="输入短信校验码" class="txt-box" ng-model="input.checkCode" maxlength="6"/>
					</div>
				</li>
				<li>
					<div class="info-label">
						<span>输入密码：</span>
					</div>
					<div class="info-cont">
						<input type="password" maxlength="6" placeholder="输入六位支付密码" class="txt-box" ng-model="input.newPwd"/>
					</div>
				</li>
				<li>
					<div class="info-label">
						<span>确认密码：</span>
					</div>
					<div class="info-cont">
						<input type="password" maxlength="6" placeholder="再次确认支付密码" class="txt-box" ng-model="input.rNewPwd"/>
					</div>
				</li>
			</ul>
		</div>

		<div class="btn-wrap">
			<button class="btn btn-primary" ng-click="changePwd()">立即修改</button>
		</div>

	</ion-content>

</ion-view>