<ion-view view-title="{{title}}" hide-tabs="true" hide-nav-bar="isNoShowHeader">
	<ion-nav-buttons side="left">
		<div ui-sref="pho-identy-front"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>	
	<ion-content>
		<div class="identyDiv" ng-click="Camera()">
			<img src="img/step_eg02.jpg">
		</div>
		<div class="txtCenter mt-10 txt999">
			<p class="inlinebk" style="width: 90vw;">上传照片应无反光和水印，确保身份证尽量充满图片 文字清晰可见</p>
		</div>
	</ion-content>
</ion-view>
