<ion-view view-title="{{title}}" hide-tabs="true">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index" ><i class="icon-shouyehui" style="font-size:18px;"></i></div>
	</ion-nav-buttons>
	<ion-content style="background: #393939;">
		<div class="fatherMyCode">
			<div class="childMyCode">
				<div class="myCode">
					<div class="myCodeInfo">
						<div class="myCodeTop">
							<span><img src="img/logo.png" alt="" /></span>
							<p class="myName"><em>{{shopName}}</em></p>
							<p class="myNum"><small>{{shopTel}}</small></p>
						</div>
						<div class="myCodeBody text-center">
							
							 <div  id="qrbox"></div>
							
							<span class="f-12">分享二维码获得礼品</span>
							<p class="mt-5">
								<button class="button button-saveQrcode txtfff"   ng-click="saveImageQrcode()">保存到手机</button>  
							</p>
						</div>					
					</div>
				</div>
			</div>
			
		</div>
		
	</ion-content>
	<div class="myCodeFoot">
		<div  class="myCodeFootTxt">
			点击分享店面二维码
		</div>
		<div class="myCodeFootBtn">
			<button ng-click="share();$event.preventDefault()">分享</button>
		</div>	
	</div>
</ion-view>