<ion-view view-title="{{title}}" hide-tabs="true">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
    </ion-nav-buttons>

	<ion-content class="bgWhite">

	    <div class="pl-15 pr-15 pt-20">

	        <h1 class="f-20 txtCenter" style="font-weight: 550;">中国联通客户入网服务协议</h1>
	        <p>甲方：{{userOrderName}}</p>
	        <p>乙方：中国联合网络通信有限公司{{userOrderCityName}}公司</p>
	        <p  style="text-indent:2em;">根据《中华人民共和国合同法》、《中华人民共和国电信条例》等有关法律、条例规定，甲乙双方在平等、自愿、公平、诚信的基础上，基于对乙方移动通信服务的了解和需求，甲方自愿申请成为乙方客户，并达成如下协议：</p>
			<h4 class="f-16" style="font-weight: 550;">第一条 入网要求及业务办理</h4>
				<ul class="content">
                    <li>
                    	<p><strong>（一）</strong>甲方办理入网、变更手续时，应提交以下登记资料：<br/> 1、个人客户：提供个人有效身份证件原件，委托他人办理的应同时提交本人及代理人有效身份证件原件及授权委托书。利用个人临时身份证件原件办理的，须同时提供公安部门出具的身份证领取凭证、身份信息辅助证件（驾照、医保卡或户口本等），不得委托他人办理。<br/> 2、单位客户：提供单位有效证件原件（或加盖公章的单位有效证件复印件）、经办人有效身份证件原件、加盖公章的单位介绍信等。<br/>
                    	3、甲方户籍所在地（以有效身份证件的住址为准）或法定住所地（单位有效证件上单位注册地）不在本地的，应该按照乙方的要求办理相应的担保手续。</p></li>
                    <li>
                        <p><strong>（二）</strong>甲方应使用国家给予入网许可标志的终端设备，终端设备应具备支持所选服务的相应功能，如无法支持所选服务，甲方应自行承担后果，并向乙方全额支付其所选服务的全部费用。</p></li>
                    <li>
                        <p><strong>（三）</strong>甲方欲将业务号码过户时，应先交清所有费用，过户时须由双方持有效身份证件原件办理。如有特殊情况，甲方可委托他人办理，但应同时提交本人及代理人有效身份证件原件及授权委托书。</p></li>
                    <li>
                        <p><strong>（四）</strong>在甲方通过过户成为新机主的情形下，如因原机主未亲自到场办理过户而导致原机主就此提出异议，甲方应无条件放弃因过户产生的全部权益，并承担由此对原机主及对乙方造成的一切损失。过户代理人对此承担连带责任。</p></li>
                    <li>
                        <p><strong>（五）</strong>甲方采用担保人方式入网的，办理过户业务时，甲方须提交担保人出具的书面文件，说明担保人同意继续担保或要求终止担保。新机主应符合本协议第一条第（一）款的条件。 </p></li>
                    <li>
                        <p><strong>（六）</strong>甲方本人未到场，由代理人、经办人办理各类业务的，甲方应承担由此产生的责任与义务；代理人、经办人承担连带责任。</p></li>
                </ul>




            <h4 class="f-16" style="font-weight: 550;">第二条 费用标准和费用交纳</h4>
				<ul class="content">
                    <li>
                    	<p><strong>（一）</strong>乙方应在国家电信资费主管部门允许的范围内设定资费标准、向客户明码标价、公告交费期限信息；甲方应在乙方明示的期限内足额交纳各项通信费用。</p></li>
                    <li>
                        <p><strong>（二）</strong>甲方使用乙方提供的资费套餐方案，套餐有效期为一年（双方特殊约定的除外）。套餐到期后，双方如无异议，有效期逐年自动顺延。如无特殊约定，甲方在有效期内或到期后可更换套餐。</p></li>
                    <li>
                        <p><strong>（三）</strong>如遇国家统一调整通信费用标准，则按国家统一规定执行。如遇乙方发布、调整资费，自乙方公告确定的生效日起执行新的资费标准。在乙方公告确定的生效日前，甲方未提出异议的视为同意，协议继续履行；甲方提出异议且未能与乙方达成一致的，甲方向乙方结清全部未付款项后本协议自动终止。</p></li>
                    <li>
                        <p><strong>（四）</strong>在若甲方为后付费用户，甲方应按时交纳通信费用。甲方未在约定期限内足额交纳通信费用的，乙方每日加收所欠费用的３‰作为违约金，并有权暂停甲方服务；甲方交清欠费和违约金后，除甲方明确提出不开通或已销号外，乙方应在24小时内恢复甲方服务。对前述情形，乙方将保留追缴欠费、违约金及向征信机构提供用户欠费信息的权利，也可用通知单、委托第三方等形式追缴欠费。</p></li>
                    <li>
                        <p><strong>（五）</strong>若甲方为预付费用户，则必须保证账户上有充足的款项。如甲方账户满足消费条件的余额不足，乙方有权限制或停止向甲方提供服务，且乙方可不再另行通知。 </p></li>
                    <li>
                        <p><strong>（六）</strong>甲方定制第三方增值业务或其它收费业务，乙方可以代第三方向甲方收取信息费、功能费等，甲方使用第三方提供的增值业务或其它收费业务由第三方制定收费标准并公布。</p></li>
                    <li>
                        <p><strong>（七）</strong>甲方如需开通国际业务、港澳台业务，应按乙方规定交纳相应费用。  </p></li>
                    <li>
                        <p><strong>（八）</strong>甲方不应以不知晓终端产生网络流量的原因（例如终端软件自动升级）为由，拒绝支付或要求减免相应费用。</p></li>
                </ul>

            <h4 class="f-16" style="font-weight: 550;">第三条 客户权益</h4>
				<ul class="content">
                    <li>
                    	<p><strong>（一）网络服务</strong> <br/>1、乙方在现有技术条件下的网络覆盖范围内向甲方提供通信服务。<br/> 2、乙方提供的网络服务应符合国家规定的通信质量标准。 </p>
                    </li>
                    <li>
                        <p><strong>（二）客户服务</strong><br/>1、乙方在承诺的网络覆盖范围内按照不低于《电信服务规范》的标准向客户提供服务。<br/>
                        2、乙方向甲方提供客户服务电话10010、网上营业厅www.10010.com等渠道，以便甲方了解乙方各项服务。乙方还应向甲方免费提供通话所在地（仅限大陆地区，不含港澳台）火警119、匪警110、医疗急救120、交通事故报警122等公益性电信服务。<br/>
                        3、乙方向甲方提供需要甲方支付月功能费的服务项目时，应征得甲方同意；乙方开通服务项目让甲方进行体验时，不收取体验服务项目月功能费。<br/>
                        4、对于甲方通信服务开通关闭申请，乙方应在承诺的时限内操作完成（双方另有约定的除外）。乙方超过时限未及时开通/关闭的，应减免甲方由此产生的通信费用。<br/>
                        5、甲方个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别甲方身份或者反映甲方活动情况的各种信息。乙方严格按照《中华人民共和国网络安全法》等法律法规的相关要求，对其在提供服务过程中收集、使用的甲方个人信息履行保护义务。在甲方使用乙方提供的服务时，乙方依据法律法规、监管政策和本协议约定收集、存储、使用、披露和保护甲方的个人信息。<br/>
                        6、甲方理解并同意，乙方可以通过业务受理系统登记、纸质返档，通过网络接收、读取并记录等方式，以提供服务为目的，在业务活动中收集、使用甲方提供的和甲方使用服务过程中形成的个人信息。甲方同意乙方可以为向甲方提供服务、改进和完善服务、提供个性化或定制化产品与服务、评估服务中的促销与推广活动效果、软件认证或升级等目的使用个人信息，乙方有权依法对包含甲方在内的整体用户数据进行分析并加以利用，以便于为甲方提供更好服务。<br/> 
                        7、甲方理解并同意乙方将收集的甲方个人信息共享给乙方关联公司在其业务目的和范围内使用；甲方亦同意乙方为履行、改善和改进乙方在本协议项下的服务之目的将收集的必要的甲方个人信息共享给乙方的授权合作伙伴。除前述明确约定情形外，未经甲方同意，乙方不向其他第三方提供甲方个人信息。<br/> 8、甲方本人持有效证件可通过自有营业厅或乙方指定的其他渠道，对其个人信息进行查询、更正。<br/>
                        9、乙方依法保证甲方的信息资料安全、通信自由和通信秘密。但以下情形不应视为乙方违反个人信息保护义务：<br/>（1）因追缴欠费需要，向第三方机构和征信机构提供用户个人相应信息及欠费信息的；<br/>（2）为向甲方提供更好的服务，通过短信、彩信、wappush、电话、电子邮件、信函、微博、微信等方式向甲方发送业务服务信息或进行互动沟通的；<br/>（3）司法、行政机关依法要求乙方提供协助与配合，乙方应给予协助与配合的；<br/>（4）出于国家安全、国防安全、公共安全、公共卫生和重大公共利益目的而未经授权的披露行为；<br/>（5）出于维护甲方或其他个人生命、财产等重大合法权益但又难以得到甲方同意的；<br/>（6）法律法规另有规定的。</p></li>
                </ul>

            <h4 class="f-16" style="font-weight: 550;">第四条 风险与责任</h4>
				<ul class="content">
                    <li>
                    	<p><strong>（一）</strong>甲方应保证入网、变更登记资料真实有效、准确完整，并有义务配合乙方对登记资料进行查验。甲方登记资料如有变更，应主动办理变更手续。因甲方提供的客户资料不详、不实或变更后未及时通知乙方等原因，使乙方无法向甲方提供服务或甲方无法享受到乙方提供的相关服务，乙方无需向甲方承担任何责任。如乙方发现因甲方登记资料失实或者甲方未配合及时更正，乙方有权暂停、终止甲方服务，且乙方无需向甲方承担任何责任。</p></li>
                    <li>
                        <p><strong>（二）</strong>甲方应妥善保管自己的用户号码、通信卡、终端、宽带账号，若发现丢失或被盗用，可及时拨打客户服务电话或到乙方营业网点办理暂时停机或修改账号密码手续；并可向公安机关报案，乙方应配合公安机关调查，但乙方不承担上述情形对甲方所造成的后果；如甲方将名下号码交予他人使用，因此引起的义务与责任仍由甲方承担。</p></li>
                    <li>
                        <p><strong>（三）</strong>甲方应妥善管理其服务密码。服务密码是甲方办理业务的重要凭证，甲方入网后应立即修改初始服务密码。凡使用服务密码定制、变更或终止业务的行为均被视为甲方或甲方授权的行为，因此引起的义务与责任均由甲方承担。</p></li>
                    <li>
                        <p><strong>（四）</strong>乙方按照现有技术标准为甲方提供通信服务，但乙方无法控制第三方利用各种手段从事违法行为等情况的发生，如因第三方的恶意行为造成甲方的损失，乙方对此将不承担相关责任。 </p></li>
                    <li>
                        <p><strong>（五）</strong>甲方使用固网及宽带业务时，未经有关部门批准许可，不得自行更改其使用性质，不得开设各类服务站点，不得利用计算机互联网络进行任何经营性服务活动，否则乙方有权停止服务，依法追缴各项费用和违约金，并不承担任何责任。  </p></li>
                    <li>
                        <p><strong>（六）</strong>若非双方另行约定，乙方提供的宽带接入线路最多限定X个终端上网使用，未经乙方书面同意，甲方不得私自组网连接其他终端设备。</p> </li>
                    <li>
                        <p><strong>（七）</strong>甲方退网时，甲方租赁或乙方免费提供给甲方使用的终端设备，应归还乙方或按照甲乙双方相关约定处理。  </p></li>
                    <li>
                        <p><strong>（八）</strong>甲方在欠费情况下，乙方有权拒绝为甲方开办其他业务（含移网、固网、宽带等所有业务），直至甲方补交全部欠费及违约金。</p></li>
                    <li>
                    	<p><strong>（九）</strong>乙方在受理业务（服务）后，将进行线路资源核查，对于不具备开通条件的，在乙方告知甲方后，本协议自动终止，乙方退还甲方已交纳费用，但不承担其他责任。</p></li>
                    <li>
                        <p><strong>（十）</strong>乙方在受理业务（服务）后，将进行线路资源核查，对于不具备开通条件的，在乙方告知甲方后，本协议自动终止，乙方退还甲方已交纳费用，但不承担其他责任。</p></li>
                    <li>
                        <p><strong>（十一）</strong>甲方所办理的数据业务下行速率标称值仅为乙方提供的数据业务下行速率最高值，乙方不能保证在任何情况下均能达到标称值，甲方对此表示知悉并认可。 </p> </li>
                    <li>
                        <p><strong>（十二）</strong>按照公平使用原则，乙方将对甲方的移动数据流量进行封顶限制，甲方每月的移动数据流量达到或超出流量封顶额度时，乙方可暂停甲方当月的上网服务，次月自动恢复开通。 </p></li>
                    <li>
                        <p><strong>（十三）</strong>甲方未付的通信费用达到信用额度时（信用额度是指用户可以用于透支消费的最高通信费用额度），应及时补充交纳通信费用；当甲方未付的通信费用超过信用额度时，乙方有权暂停甲方网络服务（超过信用额度停机不受约定交费期限的限制）。 </p></li>
                    <li>
                        <p><strong>（十四）</strong>甲方发送违法、违反公序良俗内容的信息，或未经接收客户同意大量发送商业广告等其他骚扰信息、拨打骚扰电话等不当行为，以及利用乙方提供的服务从事违法犯罪活动的，乙方有权依据行业主管部门、有关行政、司法机关的指令、客户等第三方举报或投诉，以及乙方制定的为保障公众利益的规范，关闭甲方信息发送功能，或暂停直至服务，由此造成的后果由甲方承担。 </p></li>
                    <li>
                        <p><strong>（十五）</strong>因甲方原因造成的通信卡密码丢失、锁卡或被他人获取造成的损失，乙方不承担责任，甲方不能以此为由拒绝按本协议约定支付通信费用。  </p></li>
                    <li>
                        <p><strong>（十六）</strong>为了更好地为甲方提供与本套餐相关的服务，甲方同意由乙方将甲方的电话号码等信息提供给乙方合作的第三方。</p></li>
                </ul>


            <h4 class="f-16" style="font-weight: 550;">第五条 违约责任</h4>
				<ul class="content">
                    <li>
                    	<p><strong>（一）</strong>一方违约给对方造成损失的，应当依法承担赔偿责任，但违约方应承担的赔偿损失的责任范围不包括守约方未实现的预期利润或利益、商业信誉的损失、丢失的数据本身及因数据丢失引起的损失、守约方对第三方的责任及其他间接损失。  </p></li>
                    <li>
                        <p><strong>（二）</strong>因不可抗力导致本协议部分或全部不能履行的，双方可部分或全部免除责任。</p></li>
                </ul>

            <h4 class="f-16" style="font-weight: 550;">第六条 协议的变更与解除</h4>
				<ul class="content">
                    <li>
                    	<p><strong>（一）</strong>乙方在本协议外以公告、使用手册、资费单页等书面形式公开做出的服务承诺，甲方办理各类业务所签署的表单、业务协议、须知等均自动成为本协议的补充协议；与本协议冲突部分以补充协议为准，补充协议中未约定部分以本协议为准。  </p></li>
                    <li>
                        <p><strong>（二）</strong>甲方要求终止服务（双方另有约定的除外）申请办理拆机或销户的，如甲方预存费用不足，则应按照乙方要求预存一定数额的通信费，次月按照乙方业务规定和双方约定结清相关费用。 </p></li>
                    <li>
                    	<p><strong>（三）</strong>有下列情形之一的，乙方有权单方解除协议，收回号码或账号并终止服务，并保留追究甲方违约责任的权利：<br/>
                    	1、甲方提供的有效证件（包括代理人/经办人提供的有效身份证件）虚假、不实； <br/>2、甲方自行安装未取得入网许可或可能影响网络安全或网络服务质量设备的；<br/> 3、甲方以担保等方式取得号码使用权的，如担保人违反保证条款或有确切证据证明担保人无能力履行保证责任的；<br/> 4、甲方未办理相关手续，自行改变电信业务使用性质或私自转让租用权的；<br/> 5、甲方欠费停机后3个月仍未交清通信费用和违约金的;<br/> 
                    	6、业务（服务）超过约定有效期的；<br/> 
                    	7、该号码被国家司法机关认定用于违法犯罪活动或其它不当用途的；<br/>
                    	8、乙方收到国家行政管理部门通知要求停止甲方服务的；<br/>
                    	9、产品在约定期限内未开通、激活的；<br/>
                    	10、违规外呼、呼叫频次异常的；<br/> 
                    	11、法律法规规定的其他情形。 </p></li>
                    <li>
                        <p><strong>（四）</strong>因技术进步或国家政策等原因导致本协议（部分或全部）无法继续履行的，乙方保留对电信业务（服务）做出调整的权利，调整前乙方应按照有关规定发布公告并提出相应解决方案。甲方可就解决方案与乙方协商，但不得要求乙方继续履行本协议。</p></li>
                </ul>


            <h4 class="f-16" style="font-weight: 550;"> 第七条 协议争议</h4>
				<ul class="content">
                    <li>
                    	<p style="text-indent:2em;">有关协议争议，双方可沟通协商解决；协商不成的，甲方可向当地通信管理局或消费者协会申请进行调解；任何一方均可向乙方住所地的人民法院起诉。 </p> </li>
                </ul>


            <h4 class="f-16" style="font-weight: 550;"> 第八条 协议生效</h4>
				<ul class="content">
                    <li>
                    	<p style="text-indent:2em;">在本协议签约页面点击确认签署本协议前，请确保您已充分阅读并完全同意本协议内容，一旦您点击确认签署本协议，即表明您已充分阅读并完全同意本协议内容，本协议即在您与乙方（中国联合网络通信有限公司{{userOrderCityName}}分公司）之间产生法律效力。如果您不同意本协议的任意内容，或者无法准确理解乙方（中国联合网络通信有限公司{{userOrderCityName}}分公司）对条款的解释，请不要进行后续操作。本协议一式两份，甲乙双方各执一份，有效期一年。协议到期后，双方如无异议，有效期以一年为周期自动顺延。 </p>
                    </li>
                </ul>
<!-- 靓号协议 -->
        <div class="pt-20" ng-show="telInfo.goodType">
            <h1 class="f-16 txtCenter" style="font-weight: 550;">{{userOrderCityName}}联通移动业务靓号补充协议</h1>
            <p>甲方：{{userOrderName}}</p>
            <p>乙方：中国联合网络通信有限公司{{userOrderCityName}}公司</p>
            <p  style="text-indent:2em;">根据《中华人民共和国合同法》、《中华人民共和国电信条例》等有关法律、条例规定，甲乙双方在平等、自愿、公平、诚信的基础上，基于对乙方移动通信服务的了解和需求，甲方自愿申请成为乙方客户，并达成如下协议：</p>
            <h4 class="f-16" style="font-weight: 550;">一、用户信息</h4>
                <ul class=" ">
                    <li>
                        <span>用户姓名：<span style="text-decoration:underline">{{userOrderName}}</span></span>
                    </li>
                    <li>
                        <span>有效证件类型：<span style="text-decoration:underline">二代身份证</span></span>
                    </li>
                    <li>
                        <span>证件号码：<span style="text-decoration:underline">{{userOrderCardId}}</span></span>
                    </li>
                    <li>
                        <span>用户号码：<span style="text-decoration:underline">{{userOrderNumber}}</span></span>
                    </li>
                    <li>
                        <span>业务种类：<i class="icon-checkbox-selected-copy"></i>新客户<i class="icon-fuxuankuang  pl-20"></i> 2/3G迁转4G</span>
                    </li>
                 </ul>



                <h4 class="f-16" style="font-weight: 550;">二、协议内容</h4>
                <ul class="content">
                    <li>
                        <p><strong>1.</strong><span class="pl-10">新客户：为享受到乙方提供的靓号优惠政策，甲方一次性向乙方预存<span style="text-decoration:underline">&nbsp;&nbsp;{{telInfo.preCharge}}&nbsp;&nbsp;</span>元（大写 <span style="text-decoration:underline">&nbsp;&nbsp;{{currency}}&nbsp;&nbsp;</span>）话费，承诺最低在网时长最少满<span style="text-decoration:underline">&nbsp;&nbsp;{{leaseLength}}&nbsp;&nbsp;</span>个月，即开户之日起至<span style="text-decoration:underline">&nbsp;&nbsp;{{stopTimeY}}&nbsp;&nbsp;</span>年<span style="text-decoration:underline">&nbsp;&nbsp;{{beginTime[1]}}&nbsp;&nbsp;</span>月不得主动拆机，并承诺最低在网时长内每月通信费消费不低于<span style="text-decoration:underline">&nbsp;&nbsp;{{telInfo.lowCost}}&nbsp;&nbsp;</span>元。</span></p></li>
                    <li>
                        <p><strong>2.</strong><span class="pl-10">甲方享受优惠政策而预存的话费，开户后一次性释放，以抵扣甲方的通信费，预存话费限本协议标的约定号码使用，且不可退。</span></p></li>
                    <li>
                        <p><strong>3.</strong><span class="pl-10">甲方承诺该号码每月产生的使用费单独核算，不与其他号码进行关联付费。</span></p></li>
                    <li>
                        <p><strong>4.</strong><span class="pl-10">甲方承诺使用该号码期间，仅限于使用4G业务公众产品标准套餐（不含自由套餐、网厅专营、集团、校园、副卡等专项业务类），甲方承诺并同意，本协议标的约定号码不可使用2G/3G产品资费。</span></p></li>
                    <li>
                        <p><strong>5.</strong><span class="pl-10">甲方承诺使用该号码期间，不主动停机、甲方承诺最低在网时长内不主动拆机。</span> </p></li>
                    <li>
                        <p><strong>6.</strong><span class="pl-10">甲方过户（含改名），过户接受方视为新用户，需重新交纳靓号预存款，重新计算最低在网时长，并执行最低消费，重签《{{userOrderCityName}}联通移动业务靓号补充协议协议》。</span></p></li>
                     <li>
                        <p><strong>7.</strong><span class="pl-10">甲方销户（含主动拆机、欠费拆机）时未满最低在网时长要求的，结清欠费后，按月最低消费金额*3个月交纳违约金。</span></p></li>
                    <li>
                        <p><strong>8.</strong><span class="pl-10">主动销户、欠费拆机均不提供复装。</span></p></li>
                    <li>
                        <p><strong>9.</strong><span class="pl-10">原2G/3G用户迁转4G后，剩余预存款、月承诺通信费、剩余最低在网时长要求按号码原规则执行，过户、销户等其余各项业务执行本协议规定。</span></p></li>
                    <li>
                        <p><strong>10.</strong><span class="pl-5">自本协议生效之日起，甲方承诺所使用的靓号不得使用非乙方的网络及产品。</span></p></li>
                    <li>
                        <p><strong>11.</strong><span class="pl-5">本协议自签订之日起生效，本协议约定标的号码在满足本协议及原来已签订的《中国联通客户服务协议》约定乙方可回收号码情形下，乙方回收该标的号码时终止。协议生效后，即成为甲乙双方已签订的《中国联通客户服务协议》的不可分割的组成部分，与《中国联通客户服务协议》具有同等的法律效力。除本协议中明确所作修改的条款之外，原协议的其余部分应完全继续有效。</span></p></li>
                    <li>
                        <p><strong>12.</strong><span class="pl-5">号码入网业务受理单中表述“靓号协议期”与本协议中最低在网时长为同一法律概念。</span></p></li>
                    <li>
                        <p><strong>13.</strong><span class="pl-5">在履行本协议过程中，若双方发生争议，应首先友好协商解决，若双方协议不成，双方中任何一方应向中国联合网络通信有限公司天津市分公司所在地有管辖权的人民法院提起诉讼解决。</span></p></li>
                </ul>


                 <p  style="text-indent:2em;">
                    <strong>您对此《{{userOrderCityName}}联通移动业务号码靓号补充协议》已知悉，并确认上述资料真实无误，同意按此履行。</strong>
                 </p>



         </div>


        <div class=" pt-15 pb-30">
			<p>甲方：{{userOrderName}}</p>
			<p>乙方：中国联合网络通信有限公司{{userOrderCityName}}分公司</p>
			<p>甲方用户号码： {{userOrderNumber}}</p>
			<p>签署日期：{{ signTime | date:'yyyy-MM-dd'}}</p>
		</div>

     </div>

	</ion-content>
</ion-view>
