<ion-view view-title="老客户维系">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>
	<ion-content>
		<div class="directory-list">
			<ul>
				<li ui-sref="assert-user">
					<div class="txt-info item02">
						<span class="ico icon-zhinengfenxi" style="color:#5dbb8f;"></span>
						<p><em>智能推荐</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li>
					<div class="txt-info item01">
						<span class="ico icon-yuyin" style="color:#5dbb8f;"></span>
						<p><em>语音包</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li>
					<div class="txt-info item01">
						<span class="ico icon-liuliangbao" style="color:#5dbb8f;"></span>
						<p><em>流量包</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li>
					<div class="txt-info item01">
						<span class="ico icon-taocanshengji" style="color:#5dbb8f;"></span>
						<p><em>套餐升级</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li>
					<div class="txt-info item01">
						<span class="ico icon-4g" style="color:#5dbb8f;"></span>
						<p><em>23转4</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li>
					<div class="txt-info item01">
						<span class="ico icon-goujizengfei" style="color:#5dbb8f;"></span>
						<p><em>购机赠费</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li>
					<div class="txt-info item01">
						<span class="ico icon-ganenlaokehu3" style="color:#5dbb8f;"></span>
						<p><em>存费赠费</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>