<ion-view view-title="集客">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>
	<ion-content>
		<div class="mt-10 mb-10 pl-10 f-10 txt999  ml-5" style="border-left:3px solid #1E82D2">BSS</div>
		<div class="directory-list">
			<ul>
				<li ng-click="jikeBssNumber()">
					<div class="txt-info item01">
						<span class="ico icon-wangshangxuanhao" style="color:#447BEC;"></span>
						<p><em>BSS选号</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ng-click="jikegroupBssEnterprise()">
					<div class="txt-info item01">
						<span class="ico icon-liantongxuanhao" style="color:#447BEC;"></span>
						<p><em>BSS对公</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ng-click="jikeLanBss()">
					<div class="txt-info item01">
						<span class="ico icon-gudaiyiqia" style="color:#447BEC;"></span>
						<p><em>固带移卡</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
			</ul>
		</div>
		<div class="mt-10 mb-10 pl-10 f-10 txt999  ml-5" style="border-left:3px solid #1E82D2">CBSS</div>
		<div class="directory-list">
			<ul>
				<li ng-click="jikeCbssOrder()">
					<div class="txt-info item01">
						<span class="ico icon-wangshangxuanhao" style="color:#447BEC;"></span>
						<p><em>CBSS选号</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ng-click="jikegroupCbssEnterprise()">
					<div class="txt-info item01">
						<span class="ico icon-liantongxuanhao" style="color:#447BEC;"></span>
						<p><em>CBSS对公</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
			</ul>
		</div>
		<!-- <div class="directory-list">
			<ul>
				<li ng-click="jikeBssNumber()">
					<div class="txt-info item01">
						<span class="ico icon-wangshangxuanhao" style="color:#447BEC;"></span>
						<p><em>集客BSS</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ng-click="jikeLanBss()">
					<div class="txt-info item01">
						<span class="ico icon-gudaiyiqia" style="color:#447BEC;"></span>
						<p><em>固带移成卡</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ng-click="jikeCbssOrder()">
					<div class="txt-info item02">
						<span class="ico icon-liantongxuanhao" style="color:#447BEC;"></span>
						<p><em>集客CBSS</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
			</ul>
		</div> -->
	</ion-content>
</ion-view>