<ion-view view-title="2i产品受理">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>
	<ion-content>
		<div class="directory-list">
			<ul>
				<li ui-sref="dianpu-qrgo-package">
					<div class="txt-info item01">
						<span class="ico icon-gouqia" style="color:#01b7c4;"></span>
						<p><em>新开卡 1.0</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ui-sref="dianpu-qrgo-applyOrder">
					<div class="txt-info item02">
						<span class="ico icon-daichulidingdan" style="color:#01b7c4;"></span>
						<p><em>待处理订单V1.0</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ui-sref="dianpu-qrgoV2-package">
					<div class="txt-info item01">
						<span class="ico icon-gouqia" style="color:#01b7c4;"></span>
						<p><em>新开卡 2.0</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>

<!-- 
				<li ui-sref="dianpu-qrgo-package">
					<div class="txt-info item01" style="display: flex;padding-left: 0rem;">
						<div class="icon-gouqia" style="font-size:3.5rem;color:#01b7c4"></div>
						<div style="padding-left: 35px;">
							<p><em>新开卡</em></p>
							<p><small>立即操作</small></p>
						</div>
					</div>
				</li>
				<li ui-sref="dianpu-qrgo-applyOrder">
					<div class="txt-info item02"  style="display: flex;padding-left: 0rem;">
						<div class="icon-daichulidingdan" style="font-size:3.5rem;color:#01b7c4"></div>
						<div style="padding-left: 35px;">
							<p><em>待处理订单</em></p>
							<p><small>立即操作</small></p>
						</div>
					</div>
				</li> -->


			

			</ul>
		</div>
	</ion-content>
</ion-view>