<ion-view view-title="{{title}}" hide-tabs="true">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-content>
		<div class="formList">
			<ul>
				<li class="rowItem">
					<div class="label labelExplain">当前手机号：</div>
					<div class="labelForm mt-5 txtPrimary">
						<span>{{formInfo.tel}}</span>
					</div>
				</li>
				<li class="rowItem">
					<div class="label labelExplain">验证码：</div>
					<div class="labelForm">
						<input type="text" class="textBox" placeholder="输入校验码" ng-model="formInfo.smscode"/>
						<button class="vertical abs txtPrimary" ng-click="getCheckCode()" ng-disabled="vm.resState" style="right:0;border:none;background:none;">
							{{vm.data}}
						</button>
					</div>
				</li>	
				<li class="rowItem">
					<div class="label labelExplain">银行卡号：</div>
					<div class="labelForm">
						<input type="text" placeholder="请填写正确的银行卡号" ng-model="formInfo.bondCard" ng-disabled="resState" style="width:100%;"/>
					</div>
				</li>
				<li class="rowItem">
					<div class="label labelExplain">银行卡号确认：</div>
					<div class="labelForm">
						<input type="text" placeholder="请再次填写银行卡号" ng-model="formInfo.reBondCard" ng-disabled="resState" style="width:100%;"/>
					</div>
				</li>
				<li class="rowItem">
					<div class="label labelExplain">持卡人姓名：</div>
					<div class="labelForm">
						<input type="text" placeholder="请填写持卡人姓名" ng-model="formInfo.name" ng-disabled="resState" style="width:100%;"/>
					</div>
				</li>
				<li class="rowItem">
					<div class="label labelExplain">开户行地址：</div>
					<div class="labelForm">
						<input type="text" placeholder="请填写开户行地址" ng-model="formInfo.cardAddress" ng-disabled="resState" style="width:100%;"/>
					</div>
				</li>
			</ul>
		</div>
		<div class="mt-15 pl-15 pr-15 btn-wrap">
			<button class="resetPasswordBtn btn btn-primary" ng-disabled="resState" ng-click="resetPassword()">
				<ion-spinner icon="ios" class="spinner-light" ng-if="loading"></ion-spinner>
				<span>{{btnText}}</span>
			</button>
		</div>
	</ion-content>
</ion-view>