<ion-view view-title="{{title}}" hide-tabs="true">
    <ion-nav-buttons side="left">
        <div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div ng-click="toggleSearchPanel()">重置</div>
    </ion-nav-buttons>
    <div class="bar bar-subheader" style="top: 38px;">
        <div class="hdSwitchPanelKd">
            <ul class="flexWrap text-center">
                <li class="flex pt-5 pl-5 pb-5 pr-5">
                    <button class="hmBtn" ng-class="{ 'blueBtn' : tag.current1 == 1 }" ng-click="actions.setCurrent1(1)" style="border-color:rgba(234,234,2310,1);">日期范围</button>
                </li>
                <li class="flex pt-5 pl-5 pb-5 pr-5">
                    <button class="hmBtn" ng-class="{ 'blueBtn' : tag.current1 == 2 }" ng-click="actions.setCurrent1(2)" style="border-color:rgba(234,234,2310,1);">手机号码</button>
                </li>
                <li class="flex pt-5 pl-5 pb-10 pr-5">
                    <button class="hmBtn" ng-class="{ 'blueBtn' : tag.current1 == 3 }" ng-click="actions.setCurrent1(3)" style="border-color:rgba(234,234,2310,1);">客户姓名</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="bar bar-subheader" style="top: 100px;">
        <div class="wrap" style="width:100%;">
            <ul class="bgWhite flexWrap" style="height:100%;">
                <li class="flex text-center f-15 rel subLineHeight" ng-class="{ 'activeBorderBtm' : tag.current == 1 }" ng-click="actions.setCurrent(1)">
                    {{deptName}}<i class="icon-paixushengxujiangxu"></i>
                </li>
                <li class="flex text-center f-15 rel subLineHeight" ng-class="{ 'activeBorderBtm' : tag.current == 2 }" ng-click="actions.setCurrent(2)">
                    已完成
                </li>
                <li class="flex text-center f-15 rel subLineHeight" ng-class="{ 'activeBorderBtm' : tag.current == 3 }" ng-click="actions.setCurrent(3)">
                    未完成
                </li>
                <li class="flex text-center f-15 rel subLineHeight" ng-class="{ 'activeBorderBtm' : tag.current == 4 }" ng-click="actions.setCurrent(4)">
                    补照片
                </li>
            </ul>
        </div>
        <div class="reviewSalesman" ng-click="closereviewSalesman()" ng-if="isNoShowReviewSalesman">
            <div class="reviewSalesmanInfo flexWrap">
                <div class="reviewSalesmanLeft" ng-click="$event.stopPropagation();">
                    <div class="flexWrap pl-10 pr-10 pt-10 pb-10 bd-b" ng-repeat="item in usermap" ng-class="{ 'chosed' : tag1.current == '{{item.num}}' }" ng-click="actions1.setCurrent('{{item.num}}','{{item.levelCode}}')">
                        <span class="inlinebk" style="width: 80%;">{{item.deptName}}</span>
                        <span class="flex transformX" style="margin: auto;"><i class="icon-fanhui"></i></span>
                    </div>
                </div>
                <div class="reviewSalesmanRight">
                    <div class="clear pl-10 pr-10 pt-10 pb-10 bd-b" ng-repeat="item in depts" ng-class="{ 'chosed' : tag2.current == '{{item.num}}' }" ng-click="actions2.setCurrent('{{item.num}}','{{item.levelCode}}')">
                        <p>{{item.deptName}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ion-content class="has-subheader" style='top: 144px;'>

        <div class="mask" ng-if="mask" ng-click="cancelMask()" style="display:block;"></div>


        <!-- <div>
				<div class="wrap mb-5 bd-b  tapStyle" ng-repeat="item in orderList" ng-click="orderDetail($index)">
					<div class="hdTitle">
						<div class="inlineBlock">
							<span style="border:1px solid #ff6e5a;border-radius:50%;color:#fff;background:#ff6e5a;padding:9px 5px" class="f-12">{{item.shopName | limitTo:-2}}</span>
						</div>
						<div class="inlineBlock hdMiddleTitle">
							<p>{{item.shopName | cut:true:8:' ...'}}</p>
							<p class="txt999 fr f-10">{{item.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</p>
						</div>
						<div class="inlineBlock order-money txtBestRed fr">
							<span>{{item.amount  | currency : '￥'}}</span>
						</div>
					</div>
					<div class="rel bd-t pt-10 pb-10">
						<p class="txt999"><span class="f-18 txt000 pr-10">{{item.number}}</span>{{item.isCbss}}</p>
						<p class="txt999" style="width:75%;">{{item.productName | cut:true:20:' ...'}}</p>
						<span class="abs vertical" ng-class="{'successColor':item.successColor,'verifyColor':item.verifyColor,'failColor':item.failColor,'dealColor':item.dealColor,'signatureColor':item.signatureColor,'cancelColor':item.cancelColor}" style="right:0;border:1px solid #f3b761;border-radius:3px;padding:0 3px">{{item.status}}</span>
					</div>
				</div>
			</div> -->
        <div>
            <div class="rel wrap mt-5 bd-b  tapStyle" ng-repeat="item in orderList" ng-click="orderDetail($index)">
                <div class="hdTitle bd-b" style="height:auto;line-height:inherit;">
                    <div class="inlineBlock hdMiddleTitle">
                        <p>
                            <span>{{item.serviceRealName}}</span>
                            <span class="txt666">({{item.serviceUserName}})</span>
                        </p>
                        <span class="abs vertical f-12 {{item.status | statusColor:'color'}}" style="right:0;border-radius:3px;padding:0 2px">{{item.status | statusColor:'name'}}</sapn>
                    </div>
                </div>
                <div class="rel pt-10 pb-10 inlineBlock" style="width:80%;">
                    <p>
                        <span class="f-18 pr-10 txtPrimary">{{item.number}}</span>
                        <span class="txt999 f-16">{{item.isCbss}}</span>
                    </p>
                    <p class="txt999 f-14">{{item.productName | cut:true:20:' ...'}}</p>
                    <p>
                        <span class="f-14 pr-10 txt999">{{item.customer}}</span>
                        <span class="txt999">{{item.contactNumber}}</span>
                    </p>
                    <p class="txt999 f-13">
                        <span>{{item.status | statusColor:'timeStatus'}}</span>
                        <span ng-hide="item.status == '000003'">{{item.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                        <span ng-show="item.status == '000003'">{{item.finishDate | date:"yyyy-MM-dd HH:mm:ss"}}</span>
                    </p>
                </div>
                <div class="abs inlineBlock order-money txtBestRed fr" style="padding:3rem 0;right: 1rem;">
                    <span>{{item.unicommFee  | currency : '￥'}}</span>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore()" icon="ion-loading-c" distance="1%" immediate-check="false"></ion-infinite-scroll>

        <div class="loadingWrap" ng-if="loading">
            <ion-spinner icon="ios-small"></ion-spinner>
        </div>

        <div class="noMore" ng-if="noMore"><span class="txt">没有更多</span></div>

    </ion-content>
</ion-view>