<ion-view view-title="{{title}}" hide-tabs="true">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-content class="has-tabs">
		<div class="record-list">
			<ul>
				<li ng-repeat="item in recordList">
					<div class="lt-info">
						<p><em >{{item.category}}</em></p>
						<p><small>{{item.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</small></p>
					</div>
					<div class="rt-info">
						<strong>{{item.amount | currency : '￥'}}</strong>
					</div>
				</li>
			</ul>
		</div>
		<div class="cen padding" ng-class='{"hide":loading}'>
			<ion-spinner icon="ios-small"></ion-spinner>
		</div>
		<div class="cen padding" ng-click="loadMoreData($index)" ng-hide="readMore">
			<button ng-bind-template="{{infoState}}" class="loadingMore"></button>
		</div>
		<div class="noMore" ng-hide="noMoreTips">
			<span>已经到底了</span>
		</div>
	</ion-content>
</ion-view>