<ion-view view-title="{{title}}" hide-tabs="true">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-content>
		<div class="directory-list">
			<ul>
				<li ui-sref="daili-salesman-index">
					<div class="txt-info item01">
						<span class="ico icon-yewuyuan" style="color:#F3B761;"></span>
						<p><em>业务员</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ui-sref="daili-add-salesman">
					<div class="txt-info item02">
						<span class="ico icon-zengjiayewuyuan" style="color:#F3B761;"></span>
						<p><em>添加业务员</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-view>