<ion-view view-title="{{title}}">
	<ion-nav-buttons side="left">
		<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<div ui-sref="index"><i class="icon-shouyehui" style="font-size:16px;"></i></div>
	</ion-nav-buttons>
	<ion-content>
		
		<div class="directory-list">
			<ul>
				<li ng-click="cbss_id_check()">
					<div class="txt-info item02">
						<span class="ico icon-shenfenzheng" style="color:#36b097;"></span>
						<p><em>身份证核验</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<!-- <li ng-click="clientQr()">
					<div class="txt-info item02">
						<span class="ico icon-saomiao" style="color:#36b097;"></span>
						<p><em>客户端支持</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li> -->
				<li>
					<div class="txt-info item02" ui-sref="gadget-cbss-reset-card" ng-show="appFuncListShow['000106']">
						<span class="ico icon-shoujiqia" style="color:#36b097;"></span>
						<p><em>废卡重置</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ng-show="paymentQrShow">
					<div class="txt-info item02" ui-sref="gadget-cbss-invoice">
						<span class="ico icon-dianzifapiao" style="color:#36b097;"></span>
						<p><em>电子发票</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ng-show="paymentQrShow">
					<div class="txt-info item02" ui-sref="gadget-myPaymentQr">
						<span class="ico icon-qrcode" style="color:#36b097;"></span>
						<p><em>付款码</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
				<li ui-sref="dianpu-cbss_queryUserList">
					<div class="txt-info item03">
						<span class="ico icon-fapiaoshenlingzhuangtaichaxun" style="color:#38BFB8;"></span>
						<p><em>开户数查询</em></p>
						<p><small>立即操作</small></p>
					</div>
				</li>
			</ul>
		</div>
		
	</ion-content>
</ion-view>