<ion-view view-title="{{title}}" hide-tabs="true">

<ion-nav-buttons side="left">
	<div ng-click="$ionicGoBack()"><i class="resetBackBtn"></i></div>
</ion-nav-buttons>

<ion-content>

	<div class="city-location">
		<div class="search-box">
			<input type="text" placeholder="输入证件编码" class="s-input" ng-model="input.psptId" />
			<input type="button" value="查找" ng-click="queryList()" class="s-button" ng-disabled="resState"/>
		</div>
	</div>

	<div ng-hide="historyLi">
		<div class="search-show-list">
			<h2>搜索历史：<a class="fr calm" ng-click="editHistory()">　 {{editHistoryText}}</a></h2>	
			<p class="cen" ng-hide="historyTips">没有搜索历史</p>
			<ul class="item-val">
				<li ng-repeat="row in areaHistoryList" ng-click="queryHistory({{row}})">
					<span class="icon-sousuo1" style="color:#999"></span>
					{{row.key}}
					<span class="rt-btn fr icon-shanchu" ng-hide="editHistoryBtn"></span>
				</li>
			</ul>
		</div>
		<div class="padding cen" style="margin-top:1rem;">
			<a ng-click="clearHistory()" style="color:#999;">清除搜索记录</a>
		</div>
	</div>


	<div class="search-show-list" ng-hide="addrLi">
		<ul class="item-val" ng-hide="addrList">
			<li ng-click="order($index)" ng-repeat="row in enterpriseList">{{row.rstName}}</li>
		</ul>
	</div>

	<div class="cen padding" ng-hide="loading"><ion-spinner icon="ios-small"></ion-spinner></div>
</ion-content></ion-view>